/*style de base*/
h2 {
  font-family: Raleway;
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
  padding-bottom:4vw;
  color: #b5985a;
}

body {
  font-family: Source Sans Pro;
  font-size: 16pt;
  color: #383838;
}

section{
  padding-top:6vw;
  padding-bottom:6vw;
}

footer{
  font-family: Raleway;
  font-size:12pt; 
  background-color: #2c211b;
  color: #FFFCF2;
  padding-top:2vw;
}

/*bannière accueil*/
.yjumbotron {
  padding: 11rem 2rem;
  background-image:url('../images/test2.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
.ycat:hover{
	border-bottom: 1px solid;
  color:#b5985a !important; /*Important nécessaire pour surcharger bootstrap. c'était ça ou un id*/
}
nav .navbar-nav li a{
	color:white !important;/*Important nécessaire pour surcharger bootstrap. c'était ça ou un id*/
}
a.navbar-brand{
	font-size:25px;
}

.navbar{
	background: rgba(44,33,27,0.9);
}
h1.ytxtban{
	font-size: 100px;
}
p.ytxt{
	font-size:50px;
}
.ytxtban,.ytxt{
  color: #FFFCF2;
  text-shadow:0.5px 0.5px #000000; 
  font-family: 'Raleway';
}

.navbar-collapse{
 	flex-grow: 0.9 ;
}


/* CATEGORIE*/
.div-bg{
  background-color: #F5F5F5;
}
.scard {
  max-width: 400px;
  max-height: 250px;
  object-fit: cover;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.hovereffect img.simg {
  position: relative;
  transition: all 0.3s ease-in;
}

.hovereffect:hover img.simg {
  filter: grayscale(1) blur(3px);
  transform: scale(1.2);
}

.hovereffect p.info {
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  transform: scale(0.7);
  transition: all 0.4s ease-in;
  opacity: 1;
  color: #fff;
  
}

.hovereffect:hover p.info {
  opacity: 0;
  transform: scale(1);
}

/* ABOUT US*/
.about-us h2{
  color :#b5985a;
}
.about-us img {
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
  padding: 3px;
  border-radius: 20px;
}

.div-about {
  background-image:url('../images/bg-about-us.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

/*BEST SALES*/
.p-best{
  padding-bottom: 1vw;
}
.acardimage {
  max-height: 400px;
  object-fit: cover;
  
}
.acartentiere .card {
  cursor:pointer;
}

.acartentiere:hover > img {
  transform: scale(1.2);
  transition: all 0.4s ease-in;
}
.aproductname {
  font-size: 17pt;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top:3px;
  padding-bottom:3px;
  color: #fff;
  
  font-family: Raleway;
  font-weight: lighter;
}

.aprix {
  text-decoration: none;
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
  padding: 5px;
  border-radius: 20px;
  transform: scale(0.7);
  transition: all 0.4s ease-in;
  opacity: 1;
  color: #b5985a;
  font-family: Raleway;

}


/* END BEST SALES*/

/*footer*/
  .E_form {
  box-sizing: content-box;
  width: 100%;
  border: 10px;
  padding: 30px;
  }
  
  .E_card {
  text-align:center;
  align-items:center;
  padding: 30px;
}
  .E_card a{
  color: #FFFCF2;
}
  .E_card ul{
  justify-content: center;
  align-items: center;
  list-style: none;
}
  .E_card li{
  padding-top:1px;
  padding-bottom:1px;
  }
  p.card-text{
    color: #b5985a;
  }

a{
  color: #f5f5f5;
}
label{
  color: #f5f5f5;
}

@media screen and (max-width: 1200px) {
.E_cardimage {
  max-height: 200px;
  object-fit: scale-down;
}
@media screen and (max-width: 991px) {
  span.ybar{
  display:none;
  }
} 