
.E_jumbotron {
  padding: rem rem !important;
  background-image: url("images/peluches.jpg");
  background-size: cover;
  }
  .E_cat:hover {
  border-bottom: 1px solid;
  font-weight: bold;
  }
  .navbar a {
  color:
  #FFFFFF
  ;
  }
  .navbar {
  background: rgba(0, 0, 0, 0.8);
  }
  h1.E_txtban {
  font-size: 50px;
  }
  .E_txtban,
  .E_txt {
  color:
  #FFFCF2
  ;
  font-size: 30px;
  text-shadow: 2px 2px
  #000000
  ;
  font-family: "Raleway";
  }
  .E_cat:hover {
  border-bottom: 2px solid
  #555
  ;
  }
  .navbar-collapse {
  flex-grow: 0.9;
  }
  
  .E_productname {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  }
  
  .E_containerarticle:hover > .E_productname {
  display: none;
  }
  
  .E_prix {
  display: none;
  }
  
  .E_containerarticle:hover .E_prix {
  display: block;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  }
  
  /*footer*/
  
  .E_jumbotron {
    background-color:#403d39
    !important;
    }
    
    .E_container-fluid {
    background-color:
    #403d39
    ;
    color:
    #BEDBDB;
    font-family: "https://www.1001freefonts.com/fr/black-melody.font";
    ;
    }
    
    .E_card-columns {
    background-color:
    #403d39
    ;
    color:
    #FFFFFF
    ;
    }
    
    .E_parts {
  
    background-color:
    #403d39
    ;
    }
    
    .E_logo {
    background-color:
    #403d39
    ;
    }
    
    .E_categories {
    background-color:
    #403d39
    ;
    }
    
    .E_adresse {
    background-color:
    #403d39
    ;
    }
    
    .E_form {
    background-color:
    #403d39
    ;
    box-sizing: content-box;
    width: 100%;
    border: 10px;
    padding: 30px;
    }
    
    .E_card {
      text-align:center;
      align-items:center;
    padding: 30px;
    }
    
/*MODAL*/

.E_modal-header
{
  background-color: #F0F0F0;
}