/*style de base*/
h2 {
  font-family: Raleway;
  font-size: 33px;
  text-align: center;
  text-transform: uppercase;
  font-weight:lighter;
  padding-bottom: 30px;
  padding-top:30px;
}

body {
  font-family: Source Sans Pro ;
  font-size: 20px;  
}

section {
  padding-top:10px;
  padding-bottom:40px;
}

/*bannière accueil*/

.yjumbotron 
{
  padding: 12rem 2rem !important;
  background-image: url("images/test2.jpg");
  background-size: cover;
  margin-bottom: 0px;
}

.ycat:hover
{
   border-bottom: 1px solid;
   font-weight: bold;
}

.navbar a
{
	color:#FFFFFF;
}

nav .navbar-nav li a{
  color: white !important;
  }

.navbar{
  background: rgba(0,0,0,0.8);
}

h1.ytxtban
{
font-size: 50px;
}

.ytxtban,.ytxt
{
  color: #FFFCF2;
  font-size:30px;
  text-shadow:2px 2px #000000; 
  font-family: 'Raleway';
}

.ycat:hover
{
  border-bottom: 2px solid #555;
}

.navbar-collapse
{
 flex-grow: 0.9 ;
}

/* CATEGORIE*/

.scard{
	max-width:380px;
	max-height:220px;
	object-fit:cover;
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:15px;
	padding:0px;
}

.hovereffect
{
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect img.simg {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.hovereffect:hover img.simg 
{
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect p.info {

  text-decoration: none;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 18px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}


.hovereffect:hover p.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* ABOUT US*/

#about-us img
{
  max-height: 200px;
  max-width: 200px;
  object-fit: cover; 
  padding:3px;
  border-radius:20px;
}

#about-us
{
  background-color: #403d39;
  color:#FFFFFF;
  text-align: justify;
}

.s-container {
  padding:0px;
}

/*BEST SALES*/

.acontainercartes {
  margin: 5% 0 3%;
  padding: 0 30%;
}

.aproductname {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}



.acontainerarticle:hover > .aproductname {
  display: none;
}

.aprix {
  display: none;
}



.acontainerarticle:hover .aprix {
  display: block;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}




.acardimage {
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

/* END BEST SALES*/







/*FOOTER*/



/*lors de la gestion des conflits, j'ai dégommé la couleur #3f261a qui semble avoir été remplacée par le marron 3f261a/*

/*FOOTER*/

.E_jumbotron {
background-color:
#3F261A
!important;
}

.E_container-fluid {
  background-color: #403d39;
color:
#7D98A1
;
}

.E_card-columns {
  background-color: #403d39;
color:
#7D98A1
;
}

.E_parts {
  background-color: #403d39;
}

.E_logo {
  background-color: #403d39;
}

.E_categories {
  background-color: #403d39;
}

.E_adresse {
  background-color: #403d39;
}

.E_form {
  background-color: #403d39;
box-sizing: content-box;
width: 100%;
border: 10px;
padding: 30px;
/* dans la gestion de conflit, j'ai dégommé ici une police d'écriture grise 7d98a1*/
}

.E_card {
border: none !important;
  background-color: #403d39 !important;
padding: 30px;}
/*idem ici, la version antérieure contenait une police grise de la même référence que plus haut/*
>>>>>>> 38e5d08d6927e99f4f0258b44f60c244587de952
}

.E_jumbotron {
  background-color: #3f261a !important;
}
@media screen and (max-width: 991px) {
  span.ybar{
    display:none;
   }
}
