.E_jumbotron 
{
  background-color: #3f261a !important ;
}

.E_container-fluid
{
    background-color:#3f261a;
}

.E_card-columns
{
  background-color:#3f261a;
  color: #7d98a1;
}

.E_parts
{
  background-color:#3f261a;

}

.E_logo
{
  background-color:#3f261a;
  
}

.E_categories
{
  background-color:#3f261a;
  
}

.E_adresse
{
  background-color:#3f261a;
  
}

.E_form
{
   background-color:#3f261a;
 
} 

.card{
  border: none !important ;
  background-color:#3f261a !important;
  
}