/*style de base*/
h2 {
  font-family: Raleway;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  padding-bottom: 55px;
  padding-top: 70px;
}

body {
  font-family: Source Sans Pro;
  font-size: 16pt;
}

section {
  padding-top: 100px;
  padding-bottom: 120px;
}

/*bannière accueil*/
.yjumbotron {
  padding: 11rem 2rem;
  background-image:url('images/test2.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
.ycat:hover{
	border-bottom: 1px solid;
  font-weight: bold;
}
nav .navbar-nav li a{
	color:white;
}
a.navbar-brand{
	font-size:25px;
}

.navbar{
	background: rgba(0,0,0,0.6);
}
h1.ytxtban{
	font-size: 100px;
}
p.ytxt{
	font-size:50px;
}
.ytxtban,.ytxt{
        color: #FFFCF2;
        text-shadow:0.5px 0.5px #000000; 
        font-family: 'Raleway';
}
.ycat:hover{
        border-bottom: 2px solid #ffffff;
}
.navbar-collapse{
 	flex-grow: 0.9 ;
}


/* CATEGORIE*/

.scard {
  max-width: 400px;
  max-height: 250px;
  object-fit: cover;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.hovereffect img.simg {
  position: relative;
  transition: all 0.3s ease-in;
}

.hovereffect:hover img.simg {
  filter: grayscale(1) blur(3px);
  transform: scale(1.2);
}

.hovereffect p.info {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  transform: scale(0.7);
  transition: all 0.4s ease-in;
  opacity: 1;
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover p.info {
  opacity: 0;
  transform: scale(1);
}

/* ABOUT US*/

.about-us img {
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
  padding: 3px;
  border-radius: 20px;
}

.div-about {
  background-color: #403d39;
  color: #ffffff;
}

/*BEST SALES*/
.acardimage {
  max-height: 300px;
  object-fit: cover;
  text-transform: uppercase;
}

.acartentiere:hover > img {
  transform: scale(1.2);
  transition: all 0.4s ease-in;
}

.aproductname {
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  transform: scale(0.7);
}

.aprix {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 20px;
}

/* END BEST SALES*/

/*FOOTER*/

.E_jumbotron {
  background-color: #5e6572 !important;
}

.E_container-fluid {
  background-color: #5e6572;
  color: #1c1d21;
}

.E_card-columns {
  background-color: #5e6572;
  color: #1c1d21;
}

.E_parts {
  background-color: #5e6572;
}

.E_logo {
  background-color: #5e6572;
}

.E_categories {
  background-color: #5e6572;
}

.E_adresse {
  background-color: #5e6572;
}

.E_form {
  background-color: #5e6572;
  box-sizing: content-box;
  width: 100%;
  border: 10px;
  padding: 30px;
}

.E_card {
  border: none !important;
  background-color: #5e6572 !important;
  padding: 30px;
}

@media screen and (max-width: 1200px) {
  .acardimage {
    max-height: 200px;
    object-fit: scale-down;
  }

  .acartentiere:hover > img {
    max-width: 1000px;
    max-height: 1000px;
    transform: none;
    transition: 0s 100s;
  }
}
