/*bannière accueil*/
.yjumbotron {
 	padding: 12rem 2rem !important;
  	background-image:url('images/test2.jpg');
  	background-size: cover;
}
.ycat:hover{
	border-bottom: 1px solid;
  	font-weight: bold;
}
nav .navbar-nav li a{
	color:white !important;
}
a.navbar-brand{
	font-size:25px;
}

.navbar{
	background: rgba(0,0,0,0.6);
}
h1.ytxtban{
	font-size: 100px;
}
p.ytxt{
	font-size:50px;
}
.ytxtban,.ytxt{
        color: #FFFCF2;
        text-shadow:0.5px 0.5px #000000; 
        font-family: 'Raleway';
}
.ycat:hover{
        border-bottom: 2px solid #ffffff;
}
.navbar-collapse{
 	flex-grow: 0.9 ;
}
/*Yacine*/

/* CATEGORIE*/


.scard{
	max-width:380px;
	max-height:220px;
	object-fit:cover;
	margin-left:15px;
	margin-right:15px;
	margin-top:5px;
	margin-bottom:15px;
	padding:0px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}


.hovereffect img.simg {
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.hovereffect:hover img.simg {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect a.info {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  opacity:0;
  border-radius: 20px;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

  
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}



/* ABOUT US*/

#about-us img{
  max-height: 200px;
  max-width: 200px;
  object-fit: cover; 
}
#about-us {
  background-color: #403d39;
}


/*Best sales*/


.aproductname{
width: 100%;  
background-color: rgba(255, 255, 255, 0.9);
border-radius: 50px;

}

.acontainerarticle:hover >.aproductname{
    display:none;

}

.aprix{display: none;}

.acontainerarticle:hover .aprix{
    display:block;
    width: 50%;  
background-color: rgba(255, 255, 255, 0.9);
border-radius: 50px;

}

/*footer*/

.E_jumbotron 
{
  background-color: #3f261a !important ;
}

/*Best sales*/


.aproductname{
width: 100%;  
background-color: rgba(255, 255, 255, 0.9);
border-radius: 50px;

}

.acontainerarticle:hover >.aproductname{
    display:none;

}

.aprix{display: none;}

.acontainerarticle:hover .aprix{
    display:block;
    width: 50%;  
background-color: rgba(255, 255, 255, 0.9);
border-radius: 50px;

}

/*FOOTER*/

.E_container-fluid
{
    background-color:#3f261a;
}

.E_card-columns
{
  background-color:#3f261a;
  color: #7d98a1;}

.E_parts
{
  background-color:#3f261a;

}

.E_logo
{
  background-color:#3f261a;
  
}

.E_categories
{
  background-color:#3f261a;
  
}

.E_adresse
{
  background-color:#3f261a;
  
}

.E_form
{
   background-color:#3f261a;
  color:#7d98a1;
 
} 

.E_card
{
  border: none !important ;
  background-color:#3f261a !important;
  color:#7d98a1;
  padding: 30px;  
}

@media screen and (max-width: 991px) {
  span.ybar{
    display:none;
   }
}
