/*Yacine*/
.yjumbotron {
  padding: 12rem 2rem !important;
  background-image:url('images/fond_jumbotron.jpeg');
  background-size: cover;
  opacity:0.9;
}@media screen and (max-width: 991px) {
 span.ybar {
   display:none;
  }
}
.cat:hover{
   border-bottom: 2px solid #555;
}
.navbar-collapse{
 flex-grow: 0.9 ;
}
/*Yacine*/
